.navbar-default {
    border: none;
    background: #fff;
    @include border-radius(0);
    margin-bottom: 0;
    .navbar-brand {
        padding: 20px;
        font-weight: 400;
        font-family: 'Lato';
        color: $purple;
        font-size: 24px;
    }

    .navbar-nav {
        > li {
            > a {
                &, &:focus, &:hover, &:active {
                    color: #4b4b4b;
                    background: none;
                    padding: 20px;
                }
            }
        }
    }
}