.section {
    width: 100%;
    float: left;
    min-height: 100vh;
    position: relative;
    &-title {
        text-align: center;
        margin: 60px 0;
    }
}
.section-banner {
    background: #fff;
    min-height: calc(100vh - 60px);
    height: calc(100vh - 60px);
    width: 100%;
    color: #4b4b4b;
    position: relative;
    text-align: center;
    .title {
        font-size: 72px;
        font-weight: normal;
        margin: 0 0 30px 0;
    }
    .btn-lg {
        min-width: 180px;
        @include border-radius(30px);
        margin: 20px 10px;
        &:hover, &:focus, &:active {
            color: $purple;
        }
    }
    .btn-main {
        &:hover, &:focus, &:active {
            color: #fff;
        }
    }
    @include display(box);
    @include box-align(center);
    @include box-pack(center);
    .section-content {
        top: -30px;
        position: relative;
    }
    .section-info {
        font-size: 22px;
        max-width: 640px;
        margin-bottom: 40px;
    }
}

.section-function {
    padding: 60px 0;
    text-align: center;
    background: $gray-light-95;
    [class*="col-xs"] {
        padding: 0 20px;
    }
    .section-title {
        display: block;
        margin: 0;
        margin-bottom: 50px;
    }
    .container {
        height: 450px;
    }
    .box {
        text-align: center;
        min-height: 180px;
        padding: 15px;
        margin-bottom: 40px;
        color: $purple-light-35;
        // color: $gray-dark-65;
        background: #fff;
        border: 1px solid #f7f8f9;
        @include box-shadow(4px 5px 0 0 rgba(0,0,0,0.1));
        transition-property: top left background box-shadow;
        transition-duration: 0.25s;
        position: relative;
        left: 0;
        top: 0;
        &-head {
            .title {
                font-size: 28px;
                margin-bottom: 25px;
            }
        }
        &-body {
            color: $gray-dark-35;
        }
        &:hover {
            color: #fff;
            border-color: transparent;
            @include box-shadow(none);
            background: $purple-light-35;
            left: 3px;
            top: 3px;
            .box-body {
                color: #fff;
            }
        }
        &-sass {
            &:hover {
                background: $pink;
            }
        }
        &-es6 {
            &:hover {
                color: #4b4b4b;
                background: $yellow;
                .box-body {
                    color: #4b4b4b;
                }
            }
        }
        &-browser {
            &:hover {
                background: $green;
            }
        }
        &-npm {
            &:hover {
                background: $red;
            }
        }
        &-gulp {
            &:hover {
                background: #CF4647;
            }
        }
    }
}
