node_modules

*.html
!/html/index.html
!/html/html-global/amp-index.html

public/theme/images
public/theme/fonts
public/**/*.css
public/**/*.js

!/public/theme/css/t-scroll.min.css
!/public/theme/js/t-scroll.min.js
**.DS_Store
.DS_Store?

.*.swp
._*
.git
.npmignore
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
robots.txt

# compass watch cache
.sass-cache