@keyframes lightSpeedDown {
    0% {
        transform: translate3d(100%, -50vh, 0) skewY(30deg);
    }

    60% {
        transform: skewY(-20deg);
    }

    80% {
        transform: skewY(5deg);
    }

    100% {
        transform: none;
    }
}