@keyframes fadeIn {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}
.fadeIn.t-default {
    animation-name: fadeIn;
}