@keyframes fadeRightBig {
    0% {
        transform: translate3d(2000px, 0, 0);
    }
    100% {
        transform: none;
    }
}
.fadeRightBig.t-default {
    animation-name: fadeRightBig;
    transition: opacity 1.5s;
}