@keyframes zoomOutDown {
    0% {
        transform: scale(3);
        bottom: 100vh;
    }
    50% {
        transform: scale(0.15);
        bottom: 70vh;
    }
    100% {
        transform: scale(1);
        bottom: 0;
    }
}